<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('import'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    <div class="container">

      <h1>Todos os <%= title %></h1>
  
      <ul class="list-group list-group-flush">
        
      <% services.forEach((service) => {%>
        
        <%- include('service_item', {service: service}); -%>
        
      <% }); %>
      
      </ul>
  


    </div>

    <%- include('footer'); -%>
  </body>
</html>